In [49]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score , confusion_matrix ,classification_report

In [30]:
df = pd.read_csv('Breast_Cancer.csv',index_col=0)
df.head()

,Race,Marital Status,T Stage,N Stage,6th Stage,differentiate,Grade,A Stage,Tumor Size,Estrogen Status,Progesterone Status,Regional Node Examined,Reginol Node Positive,Survival Months,Status
Age,,,,,,,,,,,,,,,
68,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,4,Positive,Positive,24,1,60,Alive
50,White,Married,T2,N2,IIIA,Moderately differentiated,2,Regional,35,Positive,Positive,14,5,62,Alive
58,White,Divorced,T3,N3,IIIC,Moderately differentiated,2,Regional,63,Positive,Positive,14,7,75,Alive
58,White,Married,T1,N1,IIA,Poorly differentiated,3,Regional,18,Positive,Positive,2,1,84,Alive
47,White,Married,T2,N1,IIB,Poorly differentiated,3,Regional,41,Positive,Positive,3,1,50,Alive

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4024 entries, 68 to 46
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Race                    4024 non-null   object
 1   Marital Status          4024 non-null   object
 2   T Stage                 4024 non-null   object
 3   N Stage                 4024 non-null   object
 4   6th Stage               4024 non-null   object
 5   differentiate           4024 non-null   object
 6   Grade                   4024 non-null   object
 7   A Stage                 4024 non-null   object
 8   Tumor Size              4024 non-null   int64
 9   Estrogen Status         4024 non-null   object
 10  Progesterone Status     4024 non-null   object
 11  Regional Node Examined  4024 non-null   int64
 12  Reginol Node Positive   4024 non-null   int64
 13  Survival Months         4024 non-null   int64
 14  Status                  4024 non-null   object
dtypes: int64(4), object(11)
memory usage: 503.0+ KB

In [32]:
df.describe()

,Tumor Size,Regional Node Examined,Reginol Node Positive,Survival Months
count,4024.000000,4024.000000,4024.000000,4024.000000
mean,30.473658,14.357107,4.158052,71.297962
std,21.119696,8.099675,5.109331,22.921430
min,1.000000,1.000000,1.000000,1.000000
25%,16.000000,9.000000,1.000000,56.000000
50%,25.000000,14.000000,2.000000,73.000000
75%,38.000000,19.000000,5.000000,90.000000
max,140.000000,61.000000,46.000000,107.000000

In [43]:
X = df.drop('Status',axis=1)
# Convert categorical columns to dummy/one-hot encoding
X_encoded = pd.get_dummies(X, drop_first=True)
X_encoded.head()

,Tumor Size,Regional Node Examined,Reginol Node Positive,Survival Months,Race_Other,Race_White,Marital Status_Married,Marital Status_Separated,Marital Status_Single,Marital Status_Widowed,...,6th Stage_IIIC,differentiate_Poorly differentiated,differentiate_Undifferentiated,differentiate_Well differentiated,Grade_1,Grade_2,Grade_3,A Stage_Regional,Estrogen Status_Positive,Progesterone Status_Positive
Age,,,,,,,,,,,,,,,,,,,,,
68,4,24,1,60,False,True,True,False,False,False,...,False,True,False,False,False,False,True,True,True,True
50,35,14,5,62,False,True,True,False,False,False,...,False,False,False,False,False,True,False,True,True,True
58,63,14,7,75,False,True,False,False,False,False,...,True,False,False,False,False,True,False,True,True,True
58,18,2,1,84,False,True,True,False,False,False,...,False,True,False,False,False,False,True,True,True,True
47,41,3,1,50,False,True,True,False,False,False,...,False,True,False,False,False,False,True,True,True,True

In [38]:
y = df.iloc[:, -1]
print(y)

Age
68    Alive
50    Alive
58    Alive
58    Alive
47    Alive
      ...
62    Alive
56    Alive
68    Alive
58    Alive
46    Alive
Name: Status, Length: 4024, dtype: object

In [44]:
print(y.value_counts())

Status
Alive    3408
Dead      616
Name: count, dtype: int64

In [47]:
# Split data
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, stratify=y, test_size=0.2, random_state=1)

In [51]:
# Logistic Regression with class weight balanced
model = LogisticRegression(class_weight='balanced', max_iter=3000)
model.fit(X_train, y_train)

# Predictions
y_pred = model.predict(X_test)

# Evaluation
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       Alive       0.94      0.79      0.86       682
        Dead       0.39      0.73      0.51       123

    accuracy                           0.78       805
   macro avg       0.67      0.76      0.68       805
weighted avg       0.86      0.78      0.81       805